{% extends 'base.html' %}
{% load static  %}
{% block title %} | Browse Our Services {% endblock %}
{% block content %}

<section class="page_title ds s-pt-100 s-pb-50 s-pt-md-75 s-pb-md-25 breadcrumbs">
        <div class="container">
            <div class="row">

                <div class="d-none d-lg-block divider-90"></div>

                <div class="col-md-12 text-center">
                    <h1>Services</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="./">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Pages</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Services
                        </li>
                    </ol>
                </div>

                <div class="d-none d-lg-block divider-15"></div>

            </div>
        </div>
    </section>


    <section class="ds s-pt-75 s-pb-30 s-pt-md-100 s-pb-md-75 s-py-lg-50 c-gutter-30 c-mb-50 c-mb-md-30">
        <div class="container">
            <div class="row">

                <div class="d-none d-lg-block divider-70"></div>

                {% if services %}
                    {% for service in services %}
                    {% if service.publish == True %}
                    <div class="col-12 col-md-6 col-lg-4">

                            <div class="vertical-item content-padding text-center">
                                <div class="item-media">
                                    <img src="{{ service.pic_main.url }}" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content hero-bg">
                                    <h5>
                                        <a href="{% url 'singleService' service.id %}">{{service.title}}</a>
                                    </h5>
        
                                    <p>
                                        {{service.blurb}}
                                    </p>
        
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No Listings Available</p>
                    </div>
                {% endif %}

               

                <div class="d-none d-lg-block divider-40"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if services.has_other_pages %}
                        <nav class="navigation pagination gallery" role="navigation">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div class="nav-links">
                                {% if services.has_previous %}
                                <a class="prev page-numbers" href="?page={{services.previous_page_number}}">
                                    <i class="fa fa-chevron-left"></i>
                                    <span class="screen-reader-text">Previous page</span>
                                </a>
                                {% else %}
                                    <a class="page-item disabled" >
                                        <i class="fa fa-chevron-left"></i>
                                        <span class="screen-reader-text">Previous page</span>
                                    </a>
                                {% endif %}

                                {% for i in services.paginator.page_range %}
                                    {% if services.number == i %}
                                         <a class="page-numbers current" >
                                            <span class="meta-nav screen-reader-text">Page </span>
                                            {{i}}
                                        </a>

                                    {% else %}
                                         <a class="page-numbers" href="?page={{i}}">
                                            <span class="meta-nav screen-reader-text">Page </span>
                                            {{i}}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% if services.has_next %}
                                <a class="next page-numbers" href="?page={{services.next_page_number}}">
                                    <i class="fa fa-chevron-right"></i>
                                    <span class="screen-reader-text">next page</span>
                                </a>
                            {% else %}
                                    <a class="page-item disabled" >
                                        <i class="fa fa-chevron-right"></i>
                                        <span class="screen-reader-text">next page</span>
                                    </a>
                            {% endif %}
                                
                            </div>
                        </nav>
                {% endif %}
            </div>
        </div>
    </section>

   
	{% endblock %}