#header{
    height: 50px;
    background: #222c35;
    color: #fff;
}

#branding h1{
    color: #fff
}

a:link,
a:visited {
    color:#222c35;
}

div.breadcrumbs{
    background: #5d7cab
}

.module h2, .module caption, .inline-group h2{
    background: #5d7cab
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #5d7cab;
    color: #fff
}